@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins */
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Italic.ttf');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Medium.ttf');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-MediumItalic.ttf');
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-SemiBold.ttf');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-SemiBoldItalic.ttf');
	font-style: italic;
	font-weight: 600;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Bold.ttf');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-BoldItalic.ttf');
	font-style: italic;
	font-weight: 700;
}

@layer components {
	.text-shadow {
		text-shadow: 2px 2px 4px var(--tw-shadow-color);
	}
	.text-shadow-inset {
		text-shadow: inset 1px 1px 2px var(--tw-shadow-color);
	}
	.text-shadow-sm {
		text-shadow: 1px 1px 2px var(--tw-shadow-color);
	}
	.text-shadow-md {
		text-shadow: 4px 4px 8px var(--tw-shadow-color);
	}
	.text-shadow-lg {
		text-shadow: 15px 15px 30px var(--tw-shadow-color);
	}
	.text-shadow-none {
		text-shadow: none;
	}
}
